---
// Component Imports
import PageLayout from '../layouts/PageLayout.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.


// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<style>
	.blog-preview-list {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(2, 50%);
	}
</style>


<PageLayout>
	<!-- <section class="intro">
		<h1 class="latest">{title}</h1>
		<p>{description}</p>
	</section> -->
  <h1>Posts</h1>
	<section aria-label="Blog post list" class="blog-preview-list">
		{allPosts.map((p) => <BlogPostPreview post={p} />)}
	</section>
</PageLayout>