---
// Component Imports
import PageLayout from '../layouts/PageLayout.astro';
import BlogList from '../components/BlogList.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.


// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<PageLayout header="Alla inlägg">
  <BlogList posts={allPosts}>
    <div>
      <a href="#">Alla</a> | <a href="#">Krönika</a> | <a href="#">Porträtt</a>
    </div>
  </BlogList>
</PageLayout>