---
import { SITE } from '../config';
import H1 from '../components/H1.astro';
import Label from '../components/Label.astro';

const { home, header, backgroundImage } = Astro.props;
---
<header class={`blog-header ${home ? 'large' : backgroundImage ? 'hasBgImage' : ''}`} style={{	'--image': `url(${backgroundImage})` }}>
	<div class="wrapper">
		<a href="/" class="logo-link">
			<img class="logo" src="/assets/kamratpodden.webp" alt="">
		</a>
		<div>
			{home && <Label>Välkommen till</Label>}
			<H1 small={!home}>{home ? 'Kamratpodden' : header}</H1>
			<slot />
		</div>
	</div>
</header>

<style lang="scss">
	.blog-header {
		position: relative;
		display: flex;
		width: 100%;
		height: 500px;
		overflow: hidden;
		text-align: center;

		@media (min-width: 700px) {
			overflow: unset;
			align-items: flex-end;
			text-align: left;
		}

		&::after {
			content: '';
			position: absolute;
			display: block;
			/* background: rgba(var(--color-blue-rgb), 0.1); */
			background: rgb(240, 240, 240);
			/* background: linear-gradient(rgba(var(--color-blue-rgb), 0.1), white); */
			height: 130%;
			width: 150vw;
			left: -25vw;
			top: -50%;
			transform: rotate(-7deg);
			z-index: -1;
			background-image: var(--image);
			background-size: cover;
			background-repeat: no-repeat;
			/* background-position: top left; */
		}

		&.hasBgImage {
			background: rgba(255, 255, 255, 0.4);
		}

		&.large {
			.wrapper {
				flex-direction: column;

				@media (min-width: 700px) {
					justify-content: center;
					flex-direction: row;
					gap: 30px;
				}

				@media (min-width: 768px) {
					gap: 80px;
				}
			}

			.logo {
				@media (min-width: 700px) {
					width: 350px;
				}
			}
		}
	}

	.blog-header .wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 25px;
		padding-top: 30px;

		@media (min-width: 700px) {
			flex-direction: row-reverse;
			justify-content: flex-start;
			padding: 100px 2rem;
			gap: 60px;
			text-align: left;
			padding-top: 0;
		}
	}

	.logo-link:hover, .logo-link:focus {
		border: none;
		outline: none;
	}

	.logo {
		width: 250px;
		object-fit: contain;

		@media (min-width: 700px) {
			width: 200px;
		}
	}

	h1 {
		color: rgba(17, 24, 39, 0.8);
	}

</style>

<script>
  let scrollpos = window.scrollY
  const header = document.querySelector('.blog-header');
  const logo = document.querySelector('.blog-header .logo');
  const start_position = 0
	const end_position = 100

  const add_class_on_scroll = () => header.classList.add("small")
  const remove_class_on_scroll = () => header.classList.remove("small")

  // window.addEventListener('scroll', () => {
  //   scrollpos = window.scrollY

  //   if (scrollpos > start_position && scrollpos < end_position) {
	// 		logo.style.transform = `scale(${1 - scrollpos * 0.001})`;
	// 	}

	// 	// if (scrollpos > end_position) {
	// 	// 	add_class_on_scroll()
	// 	// } else {
	// 	// 	remove_class_on_scroll()
	// 	// }
  // })
</script>