---
import { SITE } from '../config';
import Label from '../components/Label.astro';

const { home, header, backgroundImage } = Astro.props;
---
<header class={`blog-header ${home ? 'large' : backgroundImage ? 'hasBgImage' : ''}`} style={{	'--image': `url(${backgroundImage})` }}>
	<div class="wrapper">
		<a href="/" class="logo-link">
			<img class="logo" src="/assets/kamratpodden.webp" alt="">
		</a>
		<div>
			{home && <Label>Välkommen till</Label>}
			<h1>{home ? 'Kamratpodden' : header}</h1>
			<slot />
		</div>
	</div>
</header>

<style>
	.blog-header {
		position: relative;
		display: flex;

		/* justify-content: space-between; */
		width: 100%;
		height: 500px;
		/* padding: 50px 0 100px; */
		overflow: hidden;
		text-align: center;
		/* height: 50vh; */
	}

	.blog-header.hasBgImage {
		background: rgba(255,255,255,0.3);
	}

	.blog-header::after {
		content: '';
		position: absolute;
		display: block;
		/* background: rgba(var(--color-blue-rgb), 0.1); */
		background: rgb(240, 240, 240);
		/* background: linear-gradient(rgba(var(--color-blue-rgb), 0.1), white); */
		height: 130%;
		width: 150vw;
		left: -25vw;
		top: -50%;
		transform: rotate(-7deg);
		z-index: -1;
		background-image: var(--image);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: top left; */
	}

	.blog-header .wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 25px;
	}

	.logo-link:hover, .logo-link:focus {
		border: none;
		outline: none;
	}

	.logo {
		width: 150px;
	}

	.logo {
		width: 250px;
		object-fit: contain;
	}

	h1 {
		margin: 0;
		font-size: 40px;
		line-height: 1;
		color: var(--color-blue);
	}

	@media (min-width: 37.75em) {
		.blog-header {
			overflow: unset;
			align-items: flex-end;
		}

		.blog-header .wrapper {
			flex-direction: row-reverse;
			justify-content: flex-start;
			padding: 100px 2rem;
			gap: 60px;
			text-align: left;
		}

		.blog-header.large .wrapper {
			flex-direction: row;
			justify-content: center;
			gap: 80px;
		}

		.blog-header.large .logo {
			width: 350px;
		}

		.logo {
			width: 200px;
		}

		.blog-header.large h1 {
			font-size: 80px;
		}

		h1 {
			font-size: 60px;
			color: rgba(17, 24, 39, 0.8);
		}
	}

</style>

<script>
  let scrollpos = window.scrollY
  const header = document.querySelector('.blog-header');
  const logo = document.querySelector('.blog-header .logo');
  const start_position = 0
	const end_position = 100

  const add_class_on_scroll = () => header.classList.add("small")
  const remove_class_on_scroll = () => header.classList.remove("small")

  // window.addEventListener('scroll', () => {
  //   scrollpos = window.scrollY

  //   if (scrollpos > start_position && scrollpos < end_position) {
	// 		logo.style.transform = `scale(${1 - scrollpos * 0.001})`;
	// 	}

	// 	// if (scrollpos > end_position) {
	// 	// 	add_class_on_scroll()
	// 	// } else {
	// 	// 	remove_class_on_scroll()
	// 	// }
  // })
</script>