---
import { SITE } from '../config';
---
<header class="wrapper blog-header">
	<a href="/" class="logo-link">
		<img class="logo" src="/assets/kamratpodden.webp" alt="">
	</a>
	<!-- <div class="label">Välkommen till</div>
	<h1>Kamratpodden</h1> -->
</header>

<style>
	header {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* justify-content: space-between; */
		width: 100%;
		padding: 0 0 50px;
		/* height: 50vh; */
	}

	header.small h1 {
		opacity: 1;
	}

	header::after {
		/* content: ''; */
		position: absolute;
		display: block;
		/* background: rgba(var(--color-blue-rgb), 0.1); */
		background: rgb(240, 240, 240);
		/* background: linear-gradient(rgba(var(--color-blue-rgb), 0.1), white); */
		height: 130%;
		width: 200vw;
		left: -50vw;
		top: -50%;
		transform: rotate(-7deg);
		z-index: -1;
	}

	.logo-link:hover, .logo-link:focus {
		border: none;
		outline: none;
	}

	.logo {
		width: 400px;
		object-fit: contain;
		margin-bottom: 40px;
	}

	.label {
		text-transform: uppercase;
		color: var(--color-blue);
		font-size: 14px;
		letter-spacing: 1px;
		font-weight: bold;
	}

	h1 {
		margin: 0 0 15px;
		font-size: 50px;
		line-height: 1;
		/* opacity: 0;
		transition: opacity .7s ease; */
		/* max-width: 500px; */
		/* text-align: right; */
	}

	/* @media (max-width: 32em) {
		.header-subitem {
			display: none;
		}
	} */
</style>

<script>
  let scrollpos = window.scrollY
  const header = document.querySelector('.blog-header');
  const logo = document.querySelector('.blog-header .logo');
  const start_position = 0
	const end_position = 100

  const add_class_on_scroll = () => header.classList.add("small")
  const remove_class_on_scroll = () => header.classList.remove("small")

  window.addEventListener('scroll', () => {
    scrollpos = window.scrollY

    if (scrollpos > start_position && scrollpos < end_position) {
			logo.style.transform = `scale(${1 - scrollpos * 0.001})`;
		}

		// if (scrollpos > end_position) {
		// 	add_class_on_scroll()
		// } else {
		// 	remove_class_on_scroll()
		// }
  })
</script>