<style lang="scss">
  footer {
    position: relative;
    background: rgb(240, 240, 240);
    padding: 60px 0;

    @media (min-width: 37.75em) {
      padding: 100px 0;
    }
  }

  footer::before {
    /* content: '';
    position: absolute;
    display: block;
    /* background: rgba(var(--color-blue-rgb), 0.1); */
    background: rgb(240, 240, 240);
    /* background: linear-gradient(rgba(var(--color-blue-rgb), 0.1), white); */
    height: 100%;
    width: 150vw;
    left: -25vw;
    top: -50%;
    transform: rotate(-7deg);
    z-index: -1;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 37.75em) {
      flex-direction: row;
      gap: 60px;
    }

    div {
      flex-shrink: 0;
    }
  }

  .footer-content p {
    font-family: var(--font-title);
    font-size: 14px;
    max-width: 500px;
    text-align: center;

    @media (min-width: 37.75em) {
      text-align: left;
    }

    &:first-of-type {
      margin-bottom: 0.5rem;
    }
  }

  .social-links {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;

    @media (min-width: 37.75em) {
      gap: 20px;
      justify-content: flex-start;
      margin-bottom: 30px;
    }

    a {
      display: flex;
      height: 40px;
      color: var(--color-blue);
      transition: transform 0.2s ease;

      @media (hover: hover) {
        &:hover {
          text-decoration: none;
          transform: scale(1.1);
        }
      }
    }
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 30px;
    gap: 20px;

    @media (min-width: 37.75em) {
      margin-top: 0;
      align-items: flex-end;
    }

    img {
      max-height: 150px;
      max-width: 150px;
    }
  }

  .mobile {
    @media (min-width: 37.75em) {
      display: none;
    }
  }

  .desktop {
    display: none;

    @media (min-width: 37.75em) {
      display: block;
    }
  }
</style>

<footer>
  <div class="wrapper footer-content">
    <div>
      <p><strong>Kamratpodden</strong> är en podcast om vår älskade Allsvenskan i allmänhet och vårt älskade IFK Göteborg i synnerhet. Grundad av Antonijo Matanovic, Christian Olsson och Daniel Andrén.</p>
      <p>Kontakt: <a href="mailto:kamratpodden@gmail.com">kamratpodden@gmail.com</a></p>
      <div class="social-links">
        <a href="https://www.facebook.com/Kamratpodden" aria-label="Kamratpodden på Facebook">
          <svg xmlns="http://www.w3.org/2000/svg" title="Facebook icon" width="40" height="40" viewBox="0 0 40 40" fill="none"><path fill="currentColor" fill-rule="evenodd" d="M19.924 40h.018-.018Zm.14 0h-.006.018-.011Zm-.201 0h.019-.019Zm.266 0h-.01.018-.008Zm-.325 0h.013H19.803Zm.39 0h-.01.012-.002Zm.064-.002h-.004.017-.013Zm-.53 0h.018-.017Zm.66-.002h-.015.02-.006Zm-.78 0h.019-.02Zm-.074-.001h.018H19.534Zm.918 0h-.004.018-.014Zm-.982-.002h.024-.024Zm1.046 0h-.01.024-.014Zm.064-.001h-.015.024-.009Zm-1.17 0h.026H19.41Zm-.055-.002h.017-.032.015Zm1.29 0h-.017.032-.016Zm.064-.002h-.01.028-.018Zm-1.436 0h.027H19.273Zm-.058-.003h.028-.028Zm1.558 0h-.016.028-.012Zm-1.616-.002h.028H19.157Zm1.68 0h-.022.028-.006Zm-1.76-.004.03.001h-.03Zm1.824.001h-.008.03-.022Zm-1.882-.004.03.002h-.014l-.016-.002Zm1.946.001h-.015.03-.015Zm-2.003-.003.031.001h-.021l-.01-.002Zm2.067 0-.022.001.03-.002-.008.001Zm.063-.003-.028.001.025-.001.03-.002-.027.002Zm-2.181 0 .025.001-.028-.001-.027-.002.03.002Zm-.143-.008.032.002-.02-.002h-.012Zm2.452 0-.02.002.032-.002h-.012Zm-2.477-.002-.027-.002-.026-.001.053.003Zm2.54-.002-.026.002.053-.003-.026.002Zm.064-.004h-.01l.031-.001-.02.001Zm-2.715-.001.03.002h-.01l-.02-.002Zm-.056-.004.03.002-.017-.001-.013-.001Zm2.835.001-.016.001.03-.002-.014.001Zm-2.892-.005.028.002-.021-.002h-.006Zm2.955 0-.02.002.026-.002h-.006Zm-3.03-.006.024.002h-.006l-.018-.002Zm3.094.002h-.006l.024-.002-.018.002Zm.063-.005h-.011l.024-.001h-.013Zm-3.215-.001.024.002-.011-.001-.013-.001Zm-.057-.005.02.002-.014-.001h-.006Zm3.336 0-.015.002.02-.002h-.005Zm-3.398-.005h.006-.006Zm3.461 0h-.001.006-.005Zm.063-.005h-.005l.014-.001h-.009Zm-3.59-.001.013.001h-.005l-.009-.001Zm-1.326-.163C7.319 38.255 0 29.975 0 20 0 8.962 8.962 0 20 0s20 8.962 20 20c0 9.975-7.319 18.255-16.875 19.757V25.78h4.66L28.672 20h-5.547v-3.752c0-1.581.775-3.123 3.26-3.123h2.521V8.203s-2.288-.39-4.477-.39c-4.568 0-7.554 2.768-7.554 7.78V20h-5.078v5.781h5.078v13.976Z" clip-rule="evenodd"/></svg>
        </a>
        <a href="https://www.linkedin.com/in/kamratpodden-%F0%9F%8E%A4-803342245/" aria-label="Kamratpodden på LinkedIn">
          <svg xmlns="http://www.w3.org/2000/svg" title="LinkedIn icon" width="40" height="40" viewBox="0 0 40 40" fill="none"><path fill="currentColor" fill-rule="evenodd" d="M20 0c11.038 0 20 8.962 20 20s-8.962 20-20 20S0 31.038 0 20 8.962 0 20 0Zm-6.253 31.24V15.62H8.555V31.24h5.192Zm18.72 0v-8.957c0-4.797-2.561-7.03-5.977-7.03-2.754 0-3.988 1.516-4.679 2.58V15.62h-5.19c.068 1.466 0 15.619 0 15.619h5.19v-8.723c0-.467.034-.933.171-1.267.375-.932 1.23-1.898 2.664-1.898 1.878 0 2.63 1.433 2.63 3.531v8.357h5.191ZM11.186 8.09c-1.777 0-2.937 1.168-2.937 2.699 0 1.498 1.125 2.698 2.868 2.698h.034c1.81 0 2.937-1.2 2.937-2.698-.033-1.531-1.127-2.7-2.902-2.7Z" clip-rule="evenodd"/></svg>
        </a>
      </div>
      <p class="desktop">©2023 Kamratpodden</p>
    </div>
    <div class="logo">
      <a href="/">
				<img class="logo" src="/assets/kamratpodden.webp" alt="Kamratpodden logotyp">
			</a>
      <p class="mobile">©2023 Kamratpodden</p>
    </div>
  </div>
</footer>